{% include 'templates/partials/navigation.twig' %}
  <div class="background-image-container">
    <div class="textbox">
      <h2 class="text-xl">Oops! We can't seem to find the page you are looking for.</h2>
      <p><a href="/" class="button">Back to home</a></p>
    </div>
  </div>
  <style>
    body {
      background-image: url('http://toysite.pxdev.net/wp-content/themes/toy/assets/img/404-bg.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>