{% extends 'templates/app.twig' %}

{% block content %}
<div class="row justify-content-md-center mt-2">
    <div class="col col-md-6">
        <div id="flashAlert">
            {% include 'templates/partials/flash.twig' %}
        </div>
    </div>
</div>
<div class="row justify-content-md-center mt-3">
    <div class="col col-md-6 text-center">
        <img src="{{ base_url() }}/app/public/images/FareShare.png" alt="FareShare-logo" class="rounded mb-3"><br />
        <label class="header-blue">Donation report</label>
        <p>Please select the dates you would like to cover</p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col col-md-6 text-center">
        <form method="post" action="{{ path_for('report.download.csv') }}">
            <div class="form-group">
                <label for="datepicker" class="header-blue">From:</label>
                <input type="date" name="date_from" class="form-control mw-260" required />
            </div>
                        <div class="form-group">
                <label for="datepicker" class="header-blue">To:</label>
                <input type="date" name="date_to" class="form-control mw-260" required />
            </div>
            <button id="DownloadCsv" type="submit" class="btn btn-primary btn-rounded mt-3" @click="refreshPage">Download</button>
            {{ csrf.field | raw }}
        </form>
    </div>
</div>
{% endblock %}