<?php
return [
    'settings' => [
        //Slim settings
        'displayErrorDetails' => true,
        'addContentLengthHeader' => false,

        //Database connection
        'db' => [
            'driver'        => 'mysql',
            'host'          => 'localhost',
            // 'port'        => '3308',
            'database'      => '',
            'username'      => '',
            'password'      => '',
            'charset'       => 'utf8',
            'collation'     => 'utf8_unicode_ci',
            'prefix'        => ''
        ],        

        //JWToken
        'token' => [
            'secret' => '',
            'validation' => 1
        ],

        //SMTP
        'smtp' => [
            'host' => '',
            'user' => '',
            'password' => '',
            'sent_from' => ''
        ]
    ],
];
?>