<transition name="fade">
    <div v-if="showFlash">
        {% if flash.getMessage('info') %}
            <div class="alert alert-info" role="alert">
                {{ flash.getMessage('info') | first}}
            </div>
        {% endif %}

        {% if flash.getMessage('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flash.getMessage('error') | first}}
            </div>
        {% endif %}

        {% if flash.getMessage('warning') %}
        <div class="alert alert-warning" role="alert">
            {{ flash.getMessage('warning') | first}}
        </div>
        {% endif %}
    </div>
</transition>