<!-- As a link -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path_for('home')}}">Charity report page</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {% if auth.check %}
        <a class="nav-link" href="{{ path_for('report.form')}}">Report form</a>
        {% endif %}
      </li>
    </ul>
    {% if auth.check %}
      <a class="navbar-brand" href="{{ path_for('auth.signout')}}">Sign out</a>
    {% else %}
      <a class="navbar-brand" href="{{ path_for('auth.signin')}}">Sign in</a>
    {% endif %}
  </div>
</nav>