{% extends 'templates/app.twig' %}

{% block content %}
  <div id="flashAlert">
    {% include 'templates/partials/flash.twig' %}
  </div>
<div class="row justify-content-md-center">
        <div class="row mt-3">
            <div class="col text-center">
                <a href="{{ path_for('auth.signin') }}" class="btn btn-primary btn-rounded" role="button" aria-disabled="true">Log in</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}