{% extends 'templates/app.twig' %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col col-md-6">
    <form 
    id="signup-validation" 
    action={{ path_for('auth.signin') }} 
    method="post">
      <div class="form-group">
        <label for="Email">Email address</label>
        <input 
            type="email" 
            class="form-control" 
            name="email" 
            id="Email" 
            aria-describedby="emailHelp" 
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input 
            type="password" 
            class="form-control" 
            name="password" 
            id="Password" 
            placeholder="Password" 
            aria-describedby="passwordHelpInline" 
            required>
        <div class="invalid-feedback">
            Please, type a password.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      {{ csrf.field | raw }}
    </form>
  </div>
</div>

{# <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('signup-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script> #}
{% endblock %}